.blog {
    padding-left: 100px;
}


.blogimage{
    height: 100px;
    overflow:hidden;
    border-radius: 7px;
}

.heading {
    font-size: 40px;
    margin-bottom: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

.desblog {
    font-size: 13px;
    opacity: .6;
    padding-bottom: 1.75rem;
}

.postsTitle {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;

}

.postsDes {
    font-size: 12px;
    opacity: .7;
    font-family: 'Inter';
    letter-spacing: .3px;
}

.postsImage {
    width: 80px;
    height: 80px;
    position: relative;
    top: 6px;
    border-radius: 7px;
    margin-right: 14px;
    object-fit: cover;
    transition: transform .2s ease;
}

.postsImage:hover{
    transform: rotate(5deg);
}

.postsDate {
    font-size: 12px;
    letter-spacing: .3px;
    opacity: .7;
    font-family: 'Inter';
}

.postsContainer {
    font-weight: normal;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-decoration: None !important; 
    padding-bottom: 10px;
}

.placeholder {
    width: 80px; 
    height: 80px; 
    right: 20px;
    border-radius: 7px;
    background-color: #f0f0f0;
}

.backarrow {
    position: relative;
    right: 120px;
    top: 40px;
    width: fit-content;
    display: flex;
    justify-content: flex-start; 
    order: 1; 
}

@media (max-width: 700px) {
    .backarrow {
        justify-content: center; 
        order: 2; 
        margin-bottom: 2.6rem; 
        position: relative;
        top: 27px;
        left: 0px;
    }

    .heading {
        order: 1; 
    }

}

@media (min-height: 849px){
    .blog{
        margin-top: 120px;
    }

    .blog .blogimage{
        overflow: hidden;
        height: fit-content;
    }

    .blog .heading{
        padding-bottom: 1rem;
    }

    .blog .desblog{
        padding-bottom:1.5rem;
    }

}