.blog {
    margin-top: 35px;
}

.blogimage{
    height: 100px;
    overflow:hidden;
    border-radius: 7px;
}

.heading {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding-bottom: 1rem;
}

.desblog {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    opacity: .6;
    line-height: 30px;
    padding-bottom: 1.75rem;
}

.postsTitle {
    font-size: 20px;
    padding-bottom: 2px;
}

.postsDes {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    opacity: .6;
    padding-bottom: 5px;
}

.postsImage {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 7px;
    margin-right: 14px;
}

.postsDate {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    opacity: .6;
}

.postsContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.placeholder {
    width: 80px; 
    height: 80px; 
    right: 20px;
    border-radius: 7px;
    background-color: #f0f0f0;
}

.backarrow {
    position: relative;
    right: 80px;
    top: 33px;
    width: fit-content;
    display: flex;
    justify-content: flex-start; 
    order: 1; 
}

@media (max-width: 700px) {
    .backarrow {
        justify-content: center; 
        order: 2; 
        margin-bottom: 2.6rem; 
        position: relative;
        top: 27px;
        left: 0px;
    }

    .heading {
        order: 1; 
    }

}

@media (min-height: 849px){
    .blog{
        margin-top: 120px;
    }

    .blog .blogimage{
        overflow: hidden;
        height: fit-content;
    }

    .blog .heading{
        padding-bottom: 1rem;
    }

    .blog .desblog{
        padding-bottom:1.5rem;
    }

}