.books {
    margin-top: 35px;
}


.heading {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding-bottom: 1rem;
}

.desbooks {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    opacity: .6;
    line-height: 30px;
    padding-bottom: 1.75rem;
}


.notesImage {
    width: 75px;
    border-radius: 10px;
    transition: transform 0.2s ease;
    perspective: 100px;
}

.notesImage:hover {
    transform: rotateZ(10deg); /* Rotate on the Y-axis */
}

.bookLink{
    flex-shrink: 0;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
}


.placeholder {
    width: 80px; 
    height: 80px; 
    right: 20px;
    border-radius: 7px;
    background-color: #f0f0f0;
}

.backarrow {
    position: relative;
    right: 80px;
    top: 33px;
    width: fit-content;
    display: flex;
    justify-content: flex-start; 
    order: 1; 
}

.flex {
    display: flex;
    flex-wrap: wrap; 
}

.flex > * {
    margin-right: 1.25rem;
}

@media (max-width: 700px) {
    .backarrow {
        justify-content: center; 
        order: 2; 
        margin-bottom: 2.6rem; 
        position: relative;
        top: 27px;
        left: 0px;
    }

    .heading {
        order: 1; 
    }

}

@media (min-height: 849px){
    .books{
        margin-top: 120px;
    }

    .books .booksimage{
        overflow: hidden;
        height: fit-content;
    }

    .books .heading{
        padding-bottom: 1rem;
    }

    .books .desbooks{
        padding-bottom:1.5rem;
    }

}