.focus {

    font-size: 60px;
    text-align: left;
    text-wrap: nowrap;
    line-height: 100px; 
    position: absolute;
    top: 25%;
    left: 25%;

}

.theme{
    white-space: nowrap;
    font-size: 30px;
    font-weight: lighter;
    cursor: alias;
    text-decoration: underline dotted;
    text-underline-offset: 3px;
    position: relative;
    top: 200px;
    right: 810px;
}


.theme:hover{

    text-decoration: underline;

}
