/* Default styles */
.home {
    position: absolute;
    left: 45%;
    top: 35%;
    width: fit-content; 
}

.smolscreenwarning{

    display: none;

}

.body a {
    text-decoration: none;
    text-underline-offset: 1px;
}
.body a:hover {
    text-decoration: dotted underline !important;
    text-underline-offset: 2px;
}
.vname {
    font-size: 65px;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 5px;
    width: fit-content;
}
.links {
    font-size: 16px;
    width: fit-content;
}
.links a{
    text-decoration: none;
}
.links a:hover{
    text-decoration: dotted underline;
    text-underline-offset: 4px;
}
.rname {
    font-size: 17px;
}
.body {
    font-size: 20px;
    padding-bottom: 13px;
    width: fit-content;
}
.footer {
    position: relative;
    margin-top: 30px;
    right: 135px;
    bottom: 165px;
    width: fit-content;
}

.footer-nav {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.footer-nav a {
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
    width: fit-content;
}
.footer-nav a:hover{
    text-decoration: dotted underline;
    text-underline-offset: 4px;
}
.webtheme {
    white-space: nowrap;
    font-size: 18px;
    cursor: alias;
    width: fit-content;
}
.webtheme:hover{
    text-decoration: dotted underline;
    text-underline-offset: 4px;
}
.forLLMs {
    opacity: 0;}

@media screen and (max-width: 700px) {

    .home{

        left: 20%;

    }

    .footer-nav {
        display: none;
    }
}


@media screen and (max-width: 500px) {

    .smolscreenwarning{

        display: block;
        font-size: 12px;

    }

    .home {
        left: 10%;
        top: 20%;
        width: 90%;
    }
    .vname {
        font-size: 35px;
    }
    .body {
        font-size: 15px;
    }
   
    .links{
        font-size: 14px;
    }    

    .footer-nav {
        display: none;
    }
}