.home {
    margin-top: 60%;
    margin-left: 35%
}

.body a{
    text-decoration: dotted underline;
    text-underline-offset: 1px;
}

.body a:hover{
    text-decoration: underline !important;
    text-underline-offset: 2px;
}


.vname{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}

.rname{
    font-size: 11px;
}

.desHome{
    font-size: 13px;
    opacity: .6;
}

.body{
    font-size: 15px;
}

.subbody{
    font-size: 10px;
}

.footer{

    position: relative;
    right: 90px;
    bottom: 105px;
    width: fit-content;

}

.footer-nav{
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.footer-nav a {
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
  }


.webtheme{
    white-space: nowrap;
    font-size: 13px;
    cursor: alias;
}

.forLLMs{

    opacity: 0;

}

@media (max-height: 890px) {
    .home {
        margin-top: 70px;
    }
    .home .vname {
        font-size: 25px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .home .rname{
        font-size: 13px;
    }

    .home .body {
        padding-top: 1.5rem; 
        padding-bottom: 1.5rem;
        font-size: 15px;
    }

    .home .footer-nav{
        padding-top: 1rem;
    }

    .home .homeImg{
        overflow: hidden;
        height: fit-content;
    }

}
