.now{
    padding-left: 100px;
    padding-top: 120px;
}

.heading{
    font-size: 40px;
    margin-bottom: .75rem;
    font-family: 'Roboto Mono', monospace;
}

.backarrow {
    position: relative;
    right: 120px;
    top: 45px;
    width: fit-content;
    display: flex;
    justify-content: flex-start; 
    order: 1; 
}

.nowDes{

    font-size: 15px;
    padding-bottom: 1.5rem;
    font-style: italic;
    opacity: .75;

}

.nowBody{

    font-size: 15px;
    padding-bottom: 5rem;
    line-height: 1.75rem;

}

@media (max-width: 700px) {
    .backarrow {
        justify-content: center; 
        order: 2; 
        margin-bottom: 2.6rem; 
        position: relative;
        top: 27px;
        left: 0px;
    }

    .heading {
        order: 1; 
    }

}