.post{
    margin-top: 35px
}

.postTitle{
    font-family: 'Roboto mono', monospace;
    font-size: 25px;
    padding-bottom: .7rem;    
}

.postDate{
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    opacity: .6;
}

.postDes{
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    opacity: .6;
    padding-bottom: .5rem;
}

.postBody{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding-bottom: 5rem;
}

.image-container {
    width: 100%;         
    max-width: 560px;    
    aspect-ratio: 46 / 9;
    position: relative;  
    overflow: hidden;   
    border-radius: 6px;
}

.postImage {
    position: absolute; 
    top: 0;            
    left: 0;           
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}

.backarrow {
    position: relative;
    right: 80px;
    top: 2.1rem;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    order: 1; 
}

@media (max-width: 700px) {
    .backarrow {
        justify-content: center; 
        order: 2;
        margin-bottom: 2.6rem; 
        position: relative;
        top: 27px;
        left: 0px;
    }

    .heading {
        order: 1; 

    }

}

@media (min-height: 849px){
    .post {
        margin-top: 120px
    }

    .post .image-container{
        height: 130px;
    }
}