.main{

    position: absolute;
    top: 40%;
    left: 40%;

}

.protected-content a{

    margin-right: 20px;

}

.heading{

    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 20px;
    display: none;
}

.enter{

    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0px;

}

.button {

    font-family: 'Roboto Mono', monospace;
    position: relative;
    left: 20px;
    font-size: 15px;

}

.protected-content{

    position: relative;
    top: 20px;
    left: 50px;
    font-size: 40px;

}

.protected-content h1 {

    padding-bottom: 0px;

}

.protected-content a{

    font-weight: normal;

}

.des{
    padding-top: 12px;
    font-size: 18px;

}

.tunes{

    font-size: 16px;
    text-decoration: underline dotted;
    text-underline-offset: 2px;
    cursor: alias;

}